body {

}

.gv {
  clear:both;
}

.gh {
  display:inline;
  float:left;
}

.inner {
  overflow:hidden;
}

/*
  background:rgb(70,70,70);
  */
.innerInnerCell {
  margin-left:2px;
  font-size:13px;
  padding:2px;
  background: linear-gradient( -90deg, rgb(70,70,70), rgb(40,40,40), rgb(40,40,40));
  height:100%;
  text-overflow:ellipsis;
  word-wrap:break-word;
  color:white;
}

.innerNone {
  background: linear-gradient( 270deg, rgba(5,5,5,.2), rgba(255,255,255,0), rgba(255,255,255,0));
}

.innerHour {
  background: linear-gradient( 270deg, rgba(5,5,5,.2), rgba(255,255,255,0), rgba(255,255,255,0));
  text-align:center;
}

.innerInnerHour {
  margin-top:6px;
}

.innerHeader {
}

.innerInnerHeader {
  padding:.5em;
  padding-left:1em;
  margin-left:2px;
  margin-bottom:2px;
  background: linear-gradient( -90deg, rgba(20,20,20,.3), rgba(10,10,10,.5));
  font-weight:bold;
  height:50px;
  font-size:15px;
  line-height:1.4em;
  text-align:center;
  color:white;
  border-top-left-radius:20px;
  border-top-right-radius:20px;
}

.innerInnerCorner {
  margin:.5em;
}
